{% if include.page.artifacturl %}
  <p class="artifact-badges">
    <a href="{{ include.page.artifacturl }}">Artifact</a>
    {% if include.page.artifactbadges %}
      <a href="{{ include.page.artifacturl }}"><img src="{{ '/images/artifact-badges/available.png' | prepend: base_path }}" alt="Artifact Available" height="32"></a>
      <a href="{{ include.page.artifacturl }}"><img src="{{ '/images/artifact-badges/functional.png' | prepend: base_path }}" alt="Artifact Functional" height="32"></a>
      <a href="{{ include.page.artifacturl }}"><img src="{{ '/images/artifact-badges/reproduced.png' | prepend: base_path }}" alt="Results Reproduced" height="32"></a>
    {% endif %}
  </p>
{% endif %}
